.section-reports {
  z-index: var(--z-section);
  padding-block: var(--section-padding);
}

.reports-container {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap);
}

.reports-header {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap);
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-medium);
  width: 100%;
}

.reports-image {
  grid-column: span 12; /* Span all 12 columns */
  height: 40vh; /* Adjust height as needed */
  border-radius: 24px; /* Rounded corners */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reports-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container */
  object-position: center;
}

.reports-information {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.report-block {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}