/* src/components/home/Reports/report-info.css */
/* src/components/home/Reports/report-info.css */
.report-info-container {
    width: 100%;
  }
  
  
  .report-info-grid {
    display: grid;
    /* Creates 3 equal columns */
    grid-template-columns: repeat(3, 1fr); 
    column-gap: var(--stack-gap); /* Uses your existing large gap variable */
    width: 100%;
    align-items: start;
  }
  
  .info-col {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
  }

  .info-col1 {
    display: flex;
    flex-direction: column;
    gap: var(--space-20);
  }

  .info-column-icon {
    width: 36px; /* Adjust size as needed */
    height: 36px;
    object-fit: contain;
}

.info-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-blue-light-4);
    border-radius: var( --radius-full);
    width: fit-content;
    height: fit-content;
    padding: var(--space-12);
}

.info-percentage-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
 
}



  /* src/components/home/Reports/reportinfo.css */

.report-tag {
    display: inline-block;
    padding: 10px 18px;
    background-color: var(--color-blue-light-4); /* Light blue background */
    color: var(--color-blue-main); /* Adjust to your brand blue */
    border-radius: 8px;
    width: fit-content;
}


  
  /* Responsive: stack columns on mobile */
  @media (max-width: 768px) {
    .report-info-grid {
      grid-template-columns: 1fr;
    }
  }