
/* src/styles/tokens.css */
:root {

    /* --- NEUTRAL PALETTE --- */
    --color-white: #FFFFFF;
    --color-grey-4: #EBEBEB;
    --color-grey-3: #ADADAD;
    --color-grey-2: #707070;
    --color-grey-1: #3D3D3D;
    --color-black: #000000;
  
    /* --- BLUE PALETTE --- */
    --color-blue-light-4: #F3F6FE;
    --color-blue-light-3: #D8E4FD;
    --color-blue-light-2: #B1C8FB;
    --color-blue-light-1: #6490F7;
    --color-blue-main: #1659F3;
    --color-blue-dark-1: #093BAE;
    --color-blue-dark-2: #052161;
  
    /* --- GREEN PALETTE --- */
    --color-green-light-3: #F4F8DD;
    --color-green-light-2: #E9F1BB;
    --color-green-light-1: #D3E378;
    --color-green-main: #BAD42B;
    --color-green-dark-1: #86981F;
    --color-green-dark-2: #4B5511;
  
    /* --- SPACING SCALE (from Spacing-radius-stroke.json) --- */
    --space-0: 0px;
    --space-4: 4px;
    --space-6: 6px;
    --space-8: 8px;
    --space-12: 12px;
    --space-14: 14px;
    --space-16: 16px;
    --space-20: 20px;
    --space-24: 24px;
    --space-32: 32px;
    --space-40: 40px;
    --space-48: 48px;
    --space-56: 56px;
    --space-64: 64px;
    --space-80: 80px;
    --space-120: 120px;
    --space-160: 160px;
  
    /* --- RADIUS --- */
    --radius-none: 0px;
    --radius-4: 4px;
    --radius-8: 8px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-full: 999px;

     /* --- FONT --- */

    /* --- Font Families --- */
    --font-family-body: "Inter", sans-serif;
    --font-family-title: "Inter", sans-serif;
    --font-family-highlight: "DM Serif Text", serif;

    /* --- Font Weights --- */
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
  
    /* --- Font Size --- */
    --font-size-display: 148px;
    --font-size-h1: 48px;
    --font-size-h2: 40px;
    --font-size-h3: 32px;
    --font-size-h4: 24px;
    --font-size-subtitle: 16px;
    --font-size-body-l: 18px;
    --font-size-body-m: 16px;
    --font-size-body-s: 14px;
    --font-size-button-l: 14px;
    --font-size-button-m: 12px;
    --font-size-button-s: 10px;
    --font-size-input-label: 10px;
    --font-size-input-text: 16px;

    /* --- Line Heights (Converted from Figma %) --- */
    --lh-tight: 1.1;     /* 110% - for H0, H5, Buttons */
    --lh-heading: 1.3;   /* 130% - for H1, H2, H3, H4 */
    --lh-body: 1.4;      /* 140% - for Body and Inputs */
    --lh-display: 1.05;  /* For large display titles */
    

  }

