.filter-chips {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-medium);
  align-items: center;
}

.filter-chip {
  padding: var(--space-12) var(--space-20);
  border: 1px solid var(--color-grey-2);
  border-radius: var(--radius-8);
  background-color: var(--color-white);
  color: var(--color-grey-2);
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.filter-chip:hover {
  border-color: var(--color-blue-main);
  color: var(--color-blue-main);
}

.filter-chip.is-active {
  border-color: var(--color-blue-main);
  color: var(--color-blue-main);
  background-color: var(--color-white);
}
