/* src/components/ui/Percentage/percentage.css */

.percentage {
    position: relative;
    display: inline-grid;
    place-items: center;
  }
  
  .percentage__svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); /* start progress at 12 o'clock */
  }
  
  .percentage__ring {
    width: 100%;
    height: 100%;
  }
  
  .percentage__ring--bg {
    stroke: var(--color-grey-4);
  }
  
  .percentage__ring--fg {
    stroke: var(--primary);
    transition: stroke-dashoffset 300ms ease;
  }
  
  .percentage__text {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    text-align: center;
    line-height: 1;
    color: var(--primary);
    font-family: inherit;
  }
 
 