---
import '../../../styles/typography.css';
import './variables.css';

// Accept the props passed from index.astro
const { 
  highlightText, 
  stackLine1, 
  stackLine2, 
  stackLine3 
} = Astro.props;
---

<section class="section-variables">
  <div class="page-inner variables-container">
    <div class="variables-hero-image">
      <img src="/mtm-website-1/images/home/variables/variables-vlogging.webp" alt="Variables Illustration" />
    </div>

    <div class="variables-content">
      <h2 class="h2">Over <span class="hl-text highlight-2">{highlightText}
        </span>  Variables
      </h2>
    </div>

    <div class="variables-stack">
        <p class="h3">{stackLine1}</p>
        <p class="h3">{stackLine2}</p>
        <p class="h3">{stackLine3}</p>
      </div>
      
    </div>
  </div>
</section>