.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--gap-small);
}

  
  .benefit-icon {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
  }
  
  .benefit-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .description-text {
    text-align: center;
  }