---
import "./benefit.css";

const {
  icon,
  title,
  description,
} = Astro.props;
---

<div class="benefit">
  <div class="benefit-icon">
    <img src={icon} alt="" />
  </div>
    <p class="benefit-title">{title}</p>
    <p class="description-text body-m">{description}</p>
</div>