.feature {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
  }
  
  .feature-icon {
    flex-shrink: 0;
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }
  
  .feature-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
