.section-faq {
    z-index: var(--z-section);
    padding-block: var(--section-padding);
  }

  .faq-container {
    display: grid;
    gap: var(--stack-gap);
  }
  
  
  .faq-left {
    grid-column: span 5;
  }

  .faq-right {
    grid-column: span 7;
  }
  
  .faq-image {
    width: 100%;
    height: auto;
    display: block;
  }

    /* Accordian */

    .faq-accordion {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--color-grey-4);
      }
      
      /* single closed item */
      .faq-accordion-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
       
        padding: var(--gap-medium) var(--gap-xs);
        border-bottom: 1px solid var(--color-grey-4);
        border-right: none;
        border-left: none;
        background: none;
        cursor: pointer;
      }
      
      .faq-accordion-text {
        color: var(--color-black);
        text-align: left;
      }
      
      .faq-accordion-icon {
        width: var(--icon-size-xl);
        height: var(--icon-size-m);
        stroke: var(--color-grey-1);
        fill: none;
      }

      .faq-accordion-trigger {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

      }
      
      .faq-accordion-content {
        height: 0;
        overflow: hidden;
        transition: height 0.28s ease;
      }
      
      .faq-accordion-content-inner {
        padding-top: var(--gap-small);
      }
      
    
      .faq-accordion-icon {
        transition: transform 0.2s ease;
      }
      
      /* CLOSED state → point DOWN */
      .faq-accordion-item:not(.is-open) .faq-accordion-icon {
        transform: rotate(180deg);
      }
      
      /* OPEN state → point UP */
      .faq-accordion-item.is-open .faq-accordion-icon {
        transform: rotate(0deg);
      }